@using Avalonia.Platform
@using Application = Avalonia.Application


<Window Height="400" Width="600" Title="BlazoniaTemplate" Background="@("#F6F6F6")" Icon="@("avares://BlazoniaTemplate/Assets/avalonia-logo.ico")">
    <StackPanel>
        <Button>你好222</Button>
    </StackPanel>
</Window>

@code {
    protected override void OnInitialized()
    {
        
    }

}
