@using Avalonia.Platform
@using Application = Avalonia.Application
@using BlazoniaTemplate.Components


<Shell Height="400" Width="600" Title="BlazoniaTemplate" Background="@("#F6F6F6")" Icon="@("avares://BlazoniaTemplate/Assets/avalonia-logo.ico")">
    <Border Theme="@("CardBorder")">
        <StackPanel HorizontalAlignment="HorizontalAlignment.Center">
            <CheckBox @bind-IsChecked="_showCounterArea">是否显示Counter</CheckBox>
            @if (_showCounterArea is true)
            {
                <TextBlock>Counter: @_counter</TextBlock>
                <Button OnClick="OnButtonClick">增加</Button>
            }
        </StackPanel>
    </Border>
</Shell>

@code {
    
    bool? _showCounterArea = true;

    int _counter = 0;
    
    public void OnButtonClick()
    {
        _counter++;
    }
    
}
