@using Avalonia.Platform
@using Application = Avalonia.Application
@using Blazonia.Navigation;
@inject INavigation Navigation;

<Window Width="600" Height="400" Title="BlazoniaTemplate" Background="@("#F6F6F6")" Icon="@("avares://BlazoniaTemplate/Assets/avalonia-logo.ico")">
    <StackPanel>
        <Button OnClick="OnButtonClick">子页面</Button>
    </StackPanel>
</Window>

@code {

    public async Task OnButtonClick()
    {
        await Navigation.NavigateToAsync("SubPage");
    }
}
